<mat-toolbar color="primary">
  <mat-toolbar-row>
      <h1>AZ-Migration Portal</h1>
      <!-- <div class="d-flex">
          <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" >Add Application</button>
      </div> -->
      <div class="search">
          <input type="text"  placeholder="Enter search query">
          <button mat-icon-button class="button" >
            <mat-icon>search</mat-icon>
          </button>
        </div>
        
  </mat-toolbar-row>
  
</mat-toolbar> 

<table class="table mt-4">
  <thead>
      <tr> 
          <th scope="col">Id</th>
          <th scope="col"> Client Id</th>
          <th scope="col">Client Name</th>
          <!-- <th scope="col">Application Id</th> -->
          <th scope="col">Application Name</th>
          <!-- <th scope="col">Blackout Duration</th> -->
          <th scope="col">Server Info</th>
          <!-- <th scope="col">Storage Info</th>
          <th scope="col">Database Info</th> -->
          <th scope="col">Port Info</th>
         
      </tr>
  </thead>

  <tbody>
      <tr *ngFor="let data of allApplicationData">
          <td></td>
          <td>{{data.c_Id}}</td>
          <td>{{data.c_Name}}</td>
          <!-- <td>{{data.application_Id}}</td> -->
          <td>{{data.application_Name}}</td>
          <!-- <td>{{data.blackout_Duration}}</td> -->
          <td >{{data.serverinfo}}</td>
          <!-- <td routerLink="/storageinformation">{{data.storageInfo}}</td>
          <td routerLink="/databaseinformation" >{{data.databaseInfo}}</td> -->
          <td >{{data.portinfo}}</td>
          
      </tr>
    </tbody>
    <br><br><button class="nav-link" routerLink="/admin">Back</button><br><br>
